@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  font-size: 1rem;
  user-select: none;
}

a:visited {
  color: black;
  text-decoration: none;
}
main,
header {
  max-width: 1240px;
}

#root {
  width: 100%;
  @include mix.flex-cont(column, flex-start, stretch, null);
  min-height: 100vh;
}
