@use "../abstracts/variables" as vars;

@mixin typo-meta {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  @content;
}

@mixin typo-error($type: "paragraph") {
  font-family: "Montserrat";

  @if $type == "paragraph" {
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-style: solid;
  } @else if $type == "title" {
    font-weight: 500;
    font-size: 18px;
  } @else if $type == "code" {
    font-weight: 700;
    font-size: 96px;
  }

  @content; // permet d’ajouter des styles supplémentaires si besoin
}

@mixin typo-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  @content;
}
