@use "variables" as vars;

/// Flex container
@mixin flex-cont(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $gap: 0
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  @content;
}

/// Box shadow
@mixin box-shadow($x, $y, $blur, $spread, $color) {
  box-shadow: $x $y $blur $spread $color;
}

/// Breakpoints
@mixin respond-to($bp) {
  @media (min-width: $bp) {
    @content;
  }
}
