@use "variables" as vars;

/// Flex container
@mixin flex-cont($direction: row, $justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  @content;
}

/// Box shadow
@mixin box-shadow($x, $y, $blur, $spread, $color) {
  box-shadow: $x $y $blur $spread $color;
}

/// Breakpoints
@mixin respond-to($breakpoint) {
  @if $breakpoint == vars.$bkp-376 {
    @media screen and (min-width: 376px) {
      @content;
    }
  } @else if $breakpoint == vars.$bkp-650 {
    @media screen and (min-width: 650px) {
      @content;
    }
  } @else if $breakpoint == vars.$bkp-1080 {
    @media screen and (min-width: 1080px) {
      @content;
    }
  } @else if $breakpoint == vars.$bkp-1440 {
    @media screen and (min-width: 1440px) {
      @content;
    }
  }
}
