@use "../../sass/abstracts/mixins" as mix;
@use "../../sass/abstracts/variables" as vars;
@use "../../sass/base/typography" as typo;

.container {
  text-align: center;
  span {
    display: inline-block;
  }
  @include mix.flex-cont(column, flex-start, center, 2rem);
}
.errorCode {
  margin-top: 1rem;
  color: vars.$main-color;
  transition: font-size 1s ease;
  @include typo.typo-error("code");
  @include mix.respond-to(1024) {
    font-size: 288px;
    margin-top: unset;
  }
}
.errorMessage {
  color: vars.$main-color;
  transition: font-size 1s ease;
  @include mix.flex-cont(row, center, center, 0rem) {
    flex-wrap: wrap;
  }
  @include typo.typo-error("title") {
    @include mix.respond-to(1024) {
      font-size: 36px;
    }
  }
}
.backToHome {
  transition: font-size 1s ease;
  @include typo.typo-error("paragraph") {
    @include mix.respond-to(1024) {
      font-size: 18px;
    }
  }
}
