@use "../../sass/abstracts/mixins" as mix;

.collapseGroup {
  @include mix.flex-cont(column, flex-start, null, 1.5rem);
  margin-top: 2rem;
  max-width: 1023px;
  width: 100%;
  @include mix.respond-to(1024px) {
    align-items: center;
  }
}
