@use "../../sass/base/typography" as typo;
@use "../../sass/abstracts/mixins" as mix;

.card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 218px;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(10, 10, 10, 0) 42%,
      rgba(4, 4, 4, 0.205) 99.99%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
}

.title {
  @include typo.typo-title;
  position: absolute;
  bottom: 0.8rem;
  left: 0.8rem;
  color: white;
  z-index: 2;
}

.link {
  display: block; /* pour que la carte conserve sa width */
  text-decoration: none;
  color: inherit; /* garde les couleurs de ton design */
  width: 100%;
  @include mix.respond-to(768) {
    flex: 1 0 45%;
  }
  @include mix.respond-to(1024) {
    flex: 0 0 30%;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
