@use "../../sass/abstracts/mixins" as mix;
@use "../../sass/abstracts/variables" as vars;
@use "../../sass/base/typography" as typo;

.footer {
  @include mix.flex-cont(column, center, center, 0.7rem);
  padding: 1rem;
  background-color: vars.$footer-bg;
  min-height: 16rem;
  @include typo.typo-meta {
    color: vars.$white-font;
  }
  @include mix.respond-to(1024) {
    font-size: 24px;
    padding-bottom: 0.2rem;
  }
}

.copyright {
  padding: 0 5rem;
  text-align: center;
}

.logo {
  height: 1.78rem;
}
