@use "../../sass/base/typography" as typo;
@use "../../sass/abstracts/mixins" as mix;

.heroBanner {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  padding: 0 1rem;
  z-index: 1;
  height: 111px;
  @include mix.respond-to(550) {
    padding: 0;
  }
}
.heroBanner:has(.img.home) {
  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    inset: 0;
    opacity: 0.6;
    background: black;
  }
  &::after {
    content: "Chez vous, \Apartout et ailleurs";
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: white;
    z-index: 3;
    white-space: pre-line;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    transition: font-size 1s ease-in-out;
    // opacity: 0.6;
    @include typo.typo-title {
      font-size: 24px;
    }
    @include mix.respond-to(550px) {
      display: flex;
      justify-content: center;
      align-items: center;
      top: unset;
      left: unset;
      inset: 0;
      font-size: 28px;
      transform: unset;
      white-space: unset;
    }
    @include mix.respond-to(768) {
      font-size: 36px;
      transition: font-size 1s ease-in-out;
    }
  }
  @include mix.respond-to(550) {
    height: 138px;
  }
  @include mix.respond-to(768) {
    height: 163px;
  }
}
.heroBanner:has(.img.about) {
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 2;
  }
  @include mix.respond-to(550) {
    height: 129px;
  }
  @include mix.respond-to(768) {
    height: 146px;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home {
  transform: scale(2.1);
  object-position: 0.2rem center;
  @include mix.respond-to(768) {
    transform: scale(1);
    object-position: 0 center;
  }
}
.about {
  transform: scale(1.3);
  transition: scale 1s ease-in-out;
  object-position: 0.3rem 55%;
  @include mix.respond-to(550) {
    transform: scale(1);
    object-position: 0 center;
  }
  @include mix.respond-to(768) {
    object-position: 0 44%;
  }
}
