@use "../sass/abstracts/mixins.scss" as mix;

.main {
  @include mix.flex-cont(column, flex-start, center, null);
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  flex-grow: 1;
}
